body {
  background-color: rgba(198, 198, 240, 0.2);
  font-family: Tahoma;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  justify-items: center;
}
.gallery__title {
  width: 60%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title__photo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.title__photo img {
  width: 50%;
  height: 100%;
  border-radius: 25px;
}
.gallery__body {
  width: 80%;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  overflow-wrap: inherit;
  overflow-x: scroll;
}
.body__item {
  width: 200px;
  margin: 10px 20px 10px 0px;
  height: 160px;
  opacity: 0.6;
}
.body__item:hover {
  transition-duration: 1s;
  transform: scale(1.1);
  opacity: 1;
}
.body__item img {
  border-radius: 25px;
  width: 150px;
  height: 150px;
}
.gallery__button, .gallery__button-x {
  width: 100%;
}
.gallery__button button, .gallery__button-x button {
  width: 100px;
  height: 50px;
}
.gone {
  animation: gone 4s ease-out infinite;
}
@keyframes gone {
  10% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-5000px);
  }
}
.came {
  animation: came 9.5s ease-out infinite;
}
@keyframes came {
  25% {
    transform: translateY(-2000px);
  }
  50% {
    transform: scale(3);
    position: fixed;
    left:42%;
  }
  75% {
    position: fixed;
    left:42%;
  }
}
.hide{
    display: none;
}
.bigFrame{
    transition-duration: 1s ;
    left:20%;
    display: flex;
    justify-self: center;
    position: absolute;
    transform: scale(1.2);
    z-index: 3000;
}