.movie{
    width: 400px;
    height: 500px;
    justify-self: center;
    margin:10px;
    display: flex;
    align-items: center;
    overflow-y: hidden auto;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    transition-duration: .5s;
    color: white;
    img{
        margin-top: -10px;
        height: 70%;
        width: 100%;
    }
    h5, p {
        width: 100%;
        text-align: center;


    }
    p {
           font-size: 20px;
    }
    h5 {
        font-size: 17px;
        z-index: 1000;
    }
     .description__change{
             margin-top: 5px;
             height: 10%;
             width: 100%;
             display: flex;
             align-items: center;
             justify-content: center;
              input {
            height: 40px;
            width: 90%;
            margin: 15px;
            z-index: 1000;
            position: relative;
            overflow-x: hidden;
            border: none;
            color: #f5da0b;
            &::placeholder{
                color:#f5da0b;
                font-weight: bold;
            }
        }
    }
}