body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(119, 119, 255, 0.1);
  font-family: "Ubuntu", sans-serif;
  color: white;
}
.wrapper {
  background-color: rgba(0, 0, 0, 0.2);
  margin-top: 6%;
  width: 80%;
  span {
    color: red;
  }
}
.info {
  text-align: center;
  min-height: 500px;
  .info__header {
    h1 {
      font-size: 50px;
    }
    span {
      color: red;
      font-size: 25px;
    }
  }
  .info__body {
    &__title {
      font-size: 20px;
      color: rgb(255, 255, 255);
    }
    .body__content {
      display: flex;
      min-height: 300px;
      .content__item {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
          width: 80%;
          font-size: 20px;
          min-height: 50px;
          text-align: center;
          color: white;
        }
        .item__text {
          min-height: 150px;
          padding-bottom: 10px;
          display: flex;
          justify-content: center;
        }
        .item__button {
          display: flex;
          justify-self: center;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
.custom {
  font-size: 20px;
  width: 100%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  .custom__body {
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    .body__content {
      display: flex;
      justify-content: space-around;
    }
  }
  .custom__footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.game {
  min-height: 500px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .game__header {
    padding: 30px;
    text-align: center;
    font-size: 25px;
  }
  .game__body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .body__input {
      padding-bottom: 80px;
      input{
        width: 100px;
        height: 100px;
      }
    }
  }
}
.btnStyle {
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  position: relative;
  padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  float: left;
  border-radius: 10px;
  font-family: "Pacifico", cursive;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  background-color: #3498db;
  border-bottom: 5px solid #2980b9;
  text-shadow: 0px -2px #2980b9;
}
.btnStyle:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  border-bottom: 1px solid;
}
input {
  width: 50px;
  height: 50px;
  padding: 10px;
  text-align: center;
  font-size: 30px;
}
.hide {
  display: none;
}
