.header{
    width: 100%;
    margin-top: -0;
    z-index: 1000;
    display: grid;
    justify-content:center;
    align-items: center ;
    grid-template: 1fr/ 11fr 1fr;
    color: white;
    background-color: #f5da0b;
    h1{
        text-align: left;
        padding-left:20px;
    }
    &__controll{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 50px;
        button{
            font-size: 25px;
        }
        &:hover{
            background-color: #f5da0b;
        }
    }
}